{{>header}}
    <div id="gameBoard" class="gameBoard" >
        <div id="block"></div>
        <div id="hole"></div>
        <div id="character" ></div>
    </div>

    <script src="/js/app.js"></script>
</body>
</html>